.pin {
    position: relative;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.pin:hover {
    transform: scale(1.05);
}

.pin__image {
    width: 100%;
    margin: 10px;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.pin__likes {
    position: absolute;
    top: 20px;
    right: 10px;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-weight: bold;
}

.pin__overlay {
    position: absolute;
    top: 10px;
    left: 10px;
    display: flex;
    align-items: center;
    background: rgba(0, 0, 0, 0.6);
    padding: 5px 10px;
    border-radius: 20px;
    color: white;
}

.pin__author {
    display: flex;
    align-items: center; /* Wyrównanie poziome (centrowanie) */
    gap: 8px; /* Odstęp między awatarem a nazwą */
    font-size: 12px;
}

.pin__author-info {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Wyrównanie w pionie */
}

.pin__avatar {
    width: 30px;
    height: 30px;
    font-size: 14px;
    margin-right: 8px;
    /* Usuń inne marginesy, które mogą powodować przesunięcia */
}

.pin__timestamp {
    font-size: 12px;
    color: lightgray;
}


.pin__buttons {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
}

.pin__button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 50%; 
    border: none;
    cursor: pointer;
    outline: none;
    transition: background 0.2s, transform 0.2s;
}

.pin__button:hover {
    background: rgba(255, 255, 255, 1);
    transform: scale(1.1);
}


.small {
    grid-row-end: span 26;
}

.medium {
    grid-row-end: span 33;
}

.large {
    grid-row-end: span 45;
}



/* .pin{
    margin: 15px 10px;
    padding: 0;
    border-radius: 16px;
    background-color: red;
}

#small{
    grid-row-end: span 26;
}

#medium{
    grid-row-end: span 33;
}

#large{
    grid-row-end: span 45;
} */