.navbar {
    width: 100%;
    display: flex;
    background: #fff;
    color: black;
    justify-content: space-between; /* Sprawia, że lewa część i prawa część są rozdzielone */
}

.logo {
    display: flex;
    padding: 5px;
    cursor: pointer;
    max-width: 90px;
    justify-content: left;
    margin-left: 20px;
}

ul {
    flex: 1;
    list-style: none;
    text-align: right;
}

ul li {
    display: inline-block;
    margin: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    font-weight: bold;
}

.navbar_left {
    display: flex;
    justify-content: left;
    align-items: center;
}

.navbar_right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.search-box {
    display: flex;
    margin-left: 50px;
    align-items: center;
    background-color: #242424;
    padding: 10px 20px;
    border-radius: 50px;
}

.search-box input {
    padding: 6px;
    background: transparent;
    border: 0;
    outline: 0;
    color: #fff;
    font-size: 15px;
    max-width: 300px;
}

.search-box input::placeholder {
    color: #fff;
}

.search-box img {
    width: 20px;
    cursor: pointer;
}

.search-box button {
    background: 0;
    border: 0;
    cursor: pointer;
    border-radius: 15px;
    width: 100%;
}

.userWellcoming {
    display: flex;
    cursor: pointer;
    margin: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    align-items: center;
    gap: 10px;
}

.user-icon {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #ddd;
}

.user-icon svg {
    font-size: 24px;
}
