.sidenav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #fff;
    color: black;
  }
  
  .sidenav_category {
    margin: 25px;
  }
  
  .sidenav__buttons {
    display: flex;
    flex-direction: column;
  }
  
  .sidenav__button {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: 0;
    border: 0;
    margin: 5px 10px 5px 10px;
    padding: 10px 15px 10px 15px;
    border-radius: 15px;
    width: 100%;
  }
  
  .sidenav__button:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.128);
  }
  
  .sidenav__button > span {
    font-size: 15px;
    font-weight: bolder;
    margin-left: 10px;
  }

  .floating-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #ff69b4;
    color: white;
    border: none;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .floating-button:hover {
    background-color: #ff1493;
  }